In [50]:
import pandas as pd
import numpy as np

## calculando a taxa de retorno simples de um ativo.
#### Dessa vez da Protect and Gamble

In [51]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [52]:
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,6.280613
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,6.230266
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,6.142162
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,6.154748
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,6.129573
...,...,...,...,...,...,...
2020-07-27,126.639999,125.540001,125.709999,126.320000,6464600.0,126.320000
2020-07-28,128.460007,126.290001,126.370003,127.879997,7644400.0,127.879997
2020-07-29,129.240005,127.360001,127.559998,128.309998,6702000.0,128.309998
2020-07-30,132.029999,129.649994,130.660004,131.419998,10399400.0,131.419998
2020-07-31,131.199997,129.270004,130.007004,131.119995,6280526.0,131.119995

In [54]:
PG['RetornoSimples']= (PG['Adj Close']/PG['Adj Close'].shift(1))-1
PG['RetornoSimples']

Date
1995-01-03         NaN
1995-01-04   -0.008016
1995-01-05   -0.014141
1995-01-06    0.002049
1995-01-09   -0.004090
                ...
2020-07-27    0.002858
2020-07-28    0.012350
2020-07-29    0.003363
2020-07-30    0.024238
2020-07-31   -0.002283
Name: RetornoSimples, Length: 6441, dtype: float64

In [55]:
PG['RetornoSimples'].mean()

0.0005754953477237896

In [64]:
mediaAnual = PG['RetornoSimples'].mean() * 250

In [65]:
mediaAnual

0.1438738369309474

In [67]:
str(round(mediaAnual,5)*100)+'%'

'14.387%'