In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
Driver = 'ODBC Driver 17 for SQL Server'
Database = 'GERENCIAMENTOPESSOAS'
Server = 'DESKTOP-MBMJ5K7\SQLEXPRESS'
#User = 'DESKTOP-MBMJ5K7\Victor'
#passw = ''

In [ ]:
#engine = create_engine(f'mssql+pyodbc://username:password@Server/Database?driver')

In [3]:
engine = create_engine(f'mssql+pyodbc://@{Server}/{Database}?driver={Driver}')

In [4]:
conn = engine.connect()

In [5]:
df = pd.read_sql_query('select * from dbo.dados_pessoais', conn)

In [6]:
df

     nome sobrenome             email cidade  idade
0  victor  carvalho  vitorb@gmail.com    sjc     19
1  victor  carvalho  vitorb@gmail.com    sjc     19
2  victor  carvalho  vitorb@gmail.com    sjc     19