In [28]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('C://Users//Victor//Downloads//credit_data.csv')
df.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   i#clientid  2000 non-null   int64
 1   income      2000 non-null   float64
 2   age         1997 non-null   float64
 3   loan        2000 non-null   float64
 4   c#default   2000 non-null   int64
dtypes: float64(3), int64(2)
memory usage: 78.2 KB

In [31]:
nan = df[df['age']>0]['age'].mean()

### atualiza valores faltantes pra média das idades

In [32]:
df.fillna(nan)
df.head(30)

    i#clientid        income        age          loan  c#default
0            1  66155.925095  59.017015   8106.532131          0
1            2  34415.153966  48.117153   6564.745018          0
2            3  57317.170063  63.108049   8020.953296          0
3            4  42709.534201  45.751972   6103.642260          0
4            5  66952.688845  18.584336   8770.099235          1
5            6  24904.064140  57.471607     15.498598          0
6            7  48430.359613  26.809132   5722.581981          0
7            8  24500.141984  32.897548   2971.003310          1
8            9  40654.892537  55.496853   4755.825280          0
9           10  25075.872771  39.776378   1409.230371          0
10          11  64131.415372  25.679575   4351.028971          0
11          12  59436.847123  60.471936   9254.244538          0
12          13  61050.346079  26.355044   5893.264659          0
13          14  27267.995458  61.576776   4759.787581          0
14          15  63061.960174  39.201553   1850.369377          0
15          16  50501.726689 -28.218361   3977.287432          0
16          17  43548.654711  39.574530   3935.544453          0
17          18  43378.175194  60.848318   3277.737553          0
18          19  20542.365073  61.690571   3157.442290          0
19          20  58887.357549  26.076093   4965.516066          0
20          21  23000.784002  31.761354   1148.118057          0
21          22  32197.620701 -52.423280   4244.057136          0
22          23  23329.319414  48.576975    222.622299          0
23          24  27845.800894  51.970624   4959.921226          0
24          25  65301.984029  48.840922   5465.267886          0
25          26  47451.630123  27.031741   5361.282716          0
26          27  63287.038908 -36.496976   9595.286289          0
27          28  45727.459870  55.839922   6376.822949          0
28          29  59417.805406        NaN   2082.625938          0
29          30  58842.891308  54.510948  10871.186790          0

### escalonamento dos dados (padronização)

In [33]:
from sklearn.preprocessing import StandardScaler

In [49]:
jooj = df.iloc[:,1:4]

In [50]:
jooj

            income        age         loan
0     66155.925095  59.017015  8106.532131
1     34415.153966  48.117153  6564.745018
2     57317.170063  63.108049  8020.953296
3     42709.534201  45.751972  6103.642260
4     66952.688845  18.584336  8770.099235
...            ...        ...          ...
1995  59221.044874  48.518179  1926.729397
1996  69516.127573  23.162104  3503.176156
1997  44311.449262  28.017167  5522.786693
1998  43756.056605  63.971796  1622.722598
1999  69436.579552  56.152617  7378.833599

[2000 rows x 3 columns]

In [22]:
scaler = StandardScaler()

In [54]:
jooj = scaler.fit_transform(jooj)

In [55]:
jooj

array([[ 1.45393393,  1.33686061,  1.20281942],
       [-0.76217555,  0.53663921,  0.69642695],
       [ 0.83682073,  1.63720692,  1.17471147],
       ...,
       [-0.07122592, -0.93901609,  0.35420081],
       [-0.11000289,  1.7006195 , -0.92675625],
       [ 1.682986  ,  1.12656872,  0.96381038]])